.rcorners {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 20px;
    width: 340px;
    height: 184px;
    text-align: center;
    margin: auto;
    /* position: relative;
    top: 200px; */
}